body {
    /* background-color: #f3f1e0; */
    background-image: url("1548798021839.jpg");
    background-size: cover;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

img.resize{
    max-width: 50px;
}

br{
    margin:10px;
}

.content{
    display:flex;
    flex-direction: row;
    font-size: 120%;
}

/* .content form > h3{
    position: relative;
    text-align: center;
} */

h2 {
    margin-bottom: 0;
}

.content form > h2{
    position: relative;
    margin:0;
    margin-top: 3%;
}

.content form > hr{
    width: 100%;
    margin:0;
}

.content form{
    padding-top: 3%;
    display:flex;
    flex-direction: column;
    background:#197bbd67;
    border-radius: 3%;
}

.content> form > *{
    margin: 1%;
}

.content form > input[type = 'text'] {
    border: 2px solid #000000 ;
    font-size: 15px;
    padding: 7px 20px;
    border-radius: 20px;
    background: #f3f1e0;;
    width: 30%;
    text-align: center;
}

.content form > button {
    height: 40px;
    background: #197bbd;
    color: #000000;
}

.content form a{
    margin:0;
    width: 100%;
}

.content form > select{
    text-align: center;
    width:20%;
    border-radius: 20px;
    font-size: 15px;
    height: 100%;
    background: #f3f1e0;;
}

.content form > textarea{
    width: 60%;
    border-radius: 20px;
    height: auto;
    text-align: center;
    position: relative;
    background: #f3f1e0;
}

.row-article {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    background-color: #f3f1e0;
    padding:1%;
    border-left: 5px solid #ece8c5;
    border-right: 5px solid #ece8c5;
    margin:auto;
    width : 70%;
    list-style-type: none;

}

.row-article >nav{
        background:#ece8c5;
        border-radius: 3%;
        padding:1%;
        height: auto;
}

/* .row-article :last-of-type p{
    width : 10%;
} */

ul.row-article > li{
    flex-grow: 1;
    background: #ece8c5 !important;
    border-radius: 5px;
    margin: 1%;
    width: 180px;
} 

ul.row-article > li p{
    padding: 10px;
} 

.toprow {
    overflow: hidden;
    /* background-color: #197bbd; */
    height: 100px;
    width: 100%;
}

.toprow div, h1, input {
    float: left;
    display: block;
}

.toprow h1 {
    float: left;
    border: none;
    position: relative;
    left: 19%;
    bottom: 20%;
    color: #f3f1e0;
}

.toprow input[type=text] {
    float: left;
    border: 2px solid #f3f1e0 ;
    position: relative;
    left: 1%;
    top: 30%;
    width: 20%;
    font-size: 17px;
    padding: 7px 20px;
    border-radius: 20px;
}

.toprow .topright-off {
    float: right;
    display: block;
    border: none;
    text-decoration: none;
    position: relative;
    top: 30%;  
    right: 1%; 
    font-size: 18px;
    color: #f3f1e0;
}

.toprow .topright-on {
    float: right;
    display: block;
    border: none;
    text-decoration: none;
    position: relative;
    top: 30%;  
    right: 1%; 
    font-size: 18px;
    color: #f3f1e0;
}

nav{
    background: #f3f1e0;
    border-radius: 3%;
    width: 20%;
    height: 10%;
}

.topnav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: #353531;
    justify-content: center;
    width:100%;
}

.topnav a {
    float: left;
    display: block;
    border-right: 2px solid #f3f1e0;
    color: #f3f1e0;
    text-align: center;
    padding: 1% 1%;
    font-size: 19px;
    text-decoration: none;
}

.topnav a:last-child {
    border-right: 0px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    /* color: #197bbd; */
}

.topnav a.active {
    background-color: #f3f1e0;
    color: black;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    color: #000000;
}

main {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    flex: no-wrap;
}

.emptybox {
    flex-grow: 1;
}

.info{
    background-color: #f3f1e0;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    width: 30%;
    height: 2%;
    border: #000000;
    border-radius: 3%;
}
.info > *{
        padding-left: 3%;
}
.info >form> a{
    margin:0;
}

.info > form >button {
    width: 100px;
    height: 30px;
    background-color: #197bbd;
    color: #f1f1f1;
    margin:1%;
}

.info > form > a >button {
    width: 100px;
    height: 40px;
    background-color: #197bbd;
    color: #f1f1f1;
    margin:1%;
}

.items {
    background-color: #f3f1e0;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    min-height: 75.5vh;
    padding:2%;
    border-left: 5px solid #ece8c5;
    border-right: 5px solid #ece8c5;
    order: 0;
    max-width: 60%; 
}

.poem_title {
    text-align: center;
}

.poem_author {
    text-align: right;
    font-weight: bold;
    margin-right: 10%;
}

.poem_body {
    text-align: left;
    margin-left: 20%;
}

.poem_box {
    position: relative;
    width: 50%;
    align-self: center;
    padding: 20px;
    margin-bottom: 4px;
    background-color: #ece8c5;
    border-radius: 4px;
}


a {
    color: #000000;
    text-decoration: none;
    text-emphasis: bold;
}

.items_news {
    position: relative;
   background-color: #f3f1e0;
   display: flex;
   flex-direction: row;
   flex-grow: 2;
   flex-wrap: wrap;
   align-items: stretch;
   min-height: 75.5vh;
   padding:2%;
   border-left: 5px solid #ece8c5;
   border-right: 5px solid #ece8c5;
   order: 0;
   max-width: 60%; 
}

.news_tableContainer {
    width: 100%;
    flex: 1;
    flex-basis: 50%;
}

.news_table {
    width: 95%;
    background-color: #ece8c5;
    border-radius: 5px;
    flex: 1;
}

td {
    text-align: center;
}


.searchInput {
   margin-top: 2% !important;
}

.searchSubmit {
   position: absolute;
   top:4.8%;
   left:6%;
   width:30px; 
   height:30px;
   background: url(search_icon.png);
   background-size: 100%;
}


textarea {
    width: 70%;
    height: 80px;
    background-color: #fff;
    resize: none;
    margin-left: 15%;
    /* align-self: center; */
    border-color: #ddd;
}

button {
    margin-left: 15%;
    width: 100px;
    height: 30px;
    background-color: #197bbd;
    border: none;
    color: #f1f1f1;
    cursor: pointer;
    margin-bottom: 40px;
}

.language {
    text-align: center;
    font-style: italic;
}

.uploader {
    font-size: 80%;
    font-style: italic;
}

.comments_box{
    align-self: center;
    width: 80%;
    padding: 20px;
    margin-bottom: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
}

.comments_box p {
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
    color: #282828;
    font-weight: 100;
}

.pagination {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

.editForm {
    position: absolute;
    top: 0px;
    right: 0px;
}

.editForm button {
    width: 40px;
    height: 20px;
    color: #282828;
    opacity: 0.7;
    background-color: transparent;
}

.editForm button:hover {
    opacity: 1;
}

.deleteForm {
    position: absolute;
    top: 0px;
    right: 50px;
}

.deleteForm button {
    width: 40px;
    height: 20px;
    color: #282828;
    opacity: 0.7;
    background-color: transparent;
}

.deleteForm button:hover {
    opacity: 1;
}

.upvoteComment{
    position: absolute;
    bottom: -30px;
    right: 40px;
    width:20px; 
    height:20px;
    background: url(upvote.png);
    background-size: 100%;
}

.upvotesNoComment{
    position: absolute;
    bottom:-5px;
    right: 25px;
}

.upvotePoem{
    position: absolute;
    bottom: -30px;
    right: 80px;
    width:20px; 
    height:20px;
    background: url(upvote.png);
    background-size: 100%;
}

.upvotesNoPoem{
    position: absolute;
    bottom:-6px;
    right: 65px;
}

.downvotePoem{
    position: absolute;
    bottom: -30px;
    right: 35px;
    width:20px; 
    height:20px;
    background: url(downvote.png);
    background-size: 100%;
}

.downvotesNoPoem{
    position: absolute;
    bottom:-6px;
    right: 20px;
}

.formNotification {
    position: relative;
    font-family: Arial;
    margin-right: 10px;
    margin-top: -5px;
    border:none;
}

.formNotification select {
    outline-color: transparent;
    outline: transparent;
    background: transparent;
    box-shadow: none !important;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;

    background: url('https://img.icons8.com/material/24/000000/bell.png') no-repeat right center;
    height: 34px;
    width: 290px;
 }

 .formNotification select:focus {
    background: transparent;
    box-shadow: none !important;
    border-radius: 0%;
 }

 nav{
     flex-grow: 1;
 }

 .addPoem {
     width: 20%;
     height: 70px;
     font-size: 100%;
 }

@media screen and (max-width: 600px) {
    .topnav a, .toprow{
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
  }